* {
    margin: 0;
    padding: 0;
}

body {
    background: #f0f0f080;
}

nav {
    padding: 2em;
    background: rgba(0, 0, 0, 0.24);
    border-bottom: 1px solid #aaa;
    text-align: left;
}



main {
    float: left; 
	margin: 5px;
	text-align: left ;
	height: 80%;
	width: 80%;
}

main > .update {
    padding: 4em;
    background: #fff;
    border: 1px solid #aaa;
    margin-bottom: 1em;
}

#update-form {
    text-align: right;
    margin-bottom: 10em;
}


