<!doctype html>
<html lang="en">
  <head>
    <title>Quotes from talkais</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/quotes.css" rel="stylesheet">
  </head>

  <body class="text-center"></body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Avni API</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        <div class="jumbotron">
            <h1 class="display-2"><p class="text-primary">Quotes:</p></h1>
            <h1 class="display-4"><p class="text-dark">{{ .Title }}</p></h1>
        </div>
        
      </main>
    </div>
  </body>
</html>
<!--div class="jumbotron"><h1 class="display-2"><p class="text-primary">Test</p></h1>
            <h1 class="display-6"><p class="text-dark">{{ .Quotes }}</p></h1> 
            <h1 class="display-6"><p class="text-dark">{{ .Author }}</p></h1>               
        </div--> 