<!doctype html>
<html lang="en">
  <head>
    <title>Avni  -  Quotes </title>
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/quotesV2.css" rel="stylesheet">
  </head>

  <body class="text-center"></body>
    <div class="cover-container d-flex h-200 p-3 mx-auto flex-column">
      <!--Header-->
      <div class="page-header">
        <h1 class="display-1"><p class="text-info">Quotes for students :</p> </h1>
      </div>
     
      <!--Main-->
      <main role="main" class="inner cover">
        <div class="jumbotron">
            <h1 class="display-4"><p class="text-dark">{{ .Quotes }}</p></h1> 
            <h1 class="display-6"><p class="text-dark">{{ .Author }}</p></h1>
            <h1 class="display-6"><p class="text-dark">{{ .Message }}</p></h1>
            <h1 class="display-6"><p class="text-dark">{{ .Imagelink }}</p></h1>
            <img src="{{ .Imagelink }}" alt="No Img Found" style="width:10%;height:10%">
             

        </div>
       <nav>
        <meta http-equiv="refresh" content="10;URL='/calandar'"/>
       </nav>     
    </div>
  </body>
</html>
<!--div class="jumbotron"><h1 class="display-2"><p class="text-primary">Test</p></h1>
            <img src="../static/img-avni/Logo-isib.png" alt="No Img Found" style="width:30%;height:30%">   
            <img src="../static/img-avni/img1.png" class="img-responsive" alt="No Img Found" style="width:30%;height:30%">  
</div--> 